*{
    font-family: montserrat;
}
/* .h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(148, 146, 146);
    background-color: rgb(11, 11, 11);
    width: 300px; 
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(6, 4, 7);
    width: 300px; 
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .section-padding{
    padding: 100px 0;
  }
  .carousel-item{
    height: 100vh;
    min-height: 300px;
  }
  .carousel-caption{
    bottom: 220px;
    z-index: 2;
  }
  .carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  .carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  .carousel-inner::before{ /*rupe dark kala*/
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background:rgba(0,0,0,0.7);
    z-index: 1;
  }
  .navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .navbar-light .navbar-brand{ /*nav bar size wdi krnw nav akuru loku krnw*/
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:hover{
    color: #000;
  }
  .navbar-light .navbar-nav .navbar-light{
    color: #000;
  }
  .w-100{
    height: 100vh;
  }
  .Services .card-body i{
    font-size: 50px;
  }
  .team .card-body i{
    font-size: 20px;
  }
  .portfolio .card{
    box-shadow:15px 15px 40px rgba(0,0,0,0.15);
  }
  .team .card{
    box-shadow:15px 15px 40px rgba(0,0,0,0.15);/*rupa dark una team eke*/
  }
  

  












